@use '@/src/_styles/constants/color' as c;
@use '@/src/_styles/mixins/' as m;

.container {
  @include m.flex(flex-start, flex-end, column);
  position: relative;
  width: 100%;
  height: 100%;
  top: -32px;
  z-index: 99;

  .landing {
    @include m.flex(center, center, column);
    width: 100%;
    height: 100%;
  }

  .locationImg {
    position: relative;
    width: 100%;
    height: 33%;
    border-radius: 0.5rem 0.5rem 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: none;
  }

  .infoContainer {
    @include m.flex(space-between, center, row);
    width: 100%;
    height: 17%;

    .leftSection {
      @include m.flex(space-between, flex-start, column);
      font-weight: 600;
      font-size: 1rem;
      padding: 0.5rem;
      gap: 0.5rem;

      .title {
        @include m.flex(space-between, center, row);
        gap: 1rem;

        .titleText1 {
          font-size: 1.5rem;
          font-weight: 900;
        }

        .liked {
          @include m.flex(flex-start, center, row);
          font-size: 1rem;
          gap: 0.2rem;

          .heartBtn {
            width: 30px;
            height: 30px;
            background: none;
            border: none;

            .heart {
              width: 100%;
              height: 100%;
              cursor: pointer;
              stroke: c.$C_SECONDARY;
              stroke-width: 10px;
              transition: fill 0.3s ease-in-out;
            }
          }
          .active {
            .heart {
              fill: c.$C_SECONDARY;
            }
            :active {
              .heart {
                fill: white;
              }
            }
          }
          .inactive {
            .heart {
              fill: white;

              &:hover {
                fill: c.$C_SECONDARY;
              }
            }
          }
        }
      }

      .address,
      .telephone {
        color: c.$C_BORDER_INPUT;
      }
    }

    .rightSection {
      @include m.flex(space-between, flex-start, column);
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      gap: 0.2rem;

      .scoreContainer {
        @include m.flex(space-between, center, row);
        width: 100%;

        .titleText2 {
          font-weight: 900;
        }

        .gradeText {
          font-size: 1rem;
          color: c.$C_BORDER_INPUT;
        }
      }

      .titleText2 {
        font-weight: 900;
      }

      .gradeText {
        font-size: 1rem;
        color: c.$C_BORDER_INPUT;
      }
    }
  }

  .reviewContainer {
    @include m.flex(center, center, column);
    width: 100%;
    height: 50%;
    overflow-y: hidden;

    .buttonArea {
      @include m.flex(flex-start, flex-start, column);
      width: 98%;
      padding: 0.8rem 0rem;
      border-top: 1px solid c.$C_DIVIDER;
      border-bottom: 1px solid c.$C_DIVIDER;
      gap: 0.5rem;

      .titleText {
        font-size: 1rem;
        font-weight: 100;
      }

      .buttons {
        @include m.flex(space-between, center, row);
        width: 100%;
        font-size: 0.8rem;

        .sortingBtns {
          @include m.flex(center, center, row);
          gap: 0.5rem;

          .sortingBtn {
            cursor: pointer;
            border: 1.5px solid c.$C_BORDER_INPUT;
            border-radius: 20px;
            color: c.$C_BORDER_INPUT;
            padding: 0.3rem 0.6rem;
            transition:
              background-color,
              color 0.3s ease-in-out;

            &:hover {
              background-color: c.$C_BORDER_INPUT;
              color: c.$C_WHITE;
            }
          }

          .sortFocus {
            cursor: pointer;
            background-color: c.$C_BORDER_INPUT;
            color: c.$C_WHITE;
          }
        }

        .noReviewBtn {
          border: 1.5px solid c.$C_BORDER_GRAY;
          color: c.$C_BORDER_GRAY;
          border-radius: 20px;
          padding: 0.3rem 0.6rem;
        }

        .reviewBtn {
          cursor: pointer;
          border: 1.5px solid c.$C_SECONDARY;
          border-radius: 20px;
          color: c.$C_SECONDARY;
          padding: 0.3rem 0.6rem;

          transition:
            background-color,
            color 0.3s ease-in-out;

          &:hover {
            background-color: c.$C_SECONDARY;
            color: c.$C_WHITE;
          }
        }
      }
    }

    .loader {
      @include m.flex(center, center, column);
      flex: 1;
      text-align: center;
    }

    .reviewArea {
      @include m.flex(space-between, center, column);
      width: 100%;
      height: auto;
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      &::-webkit-scrollbar {
        width: 6px; /* 스크롤바 너비 */
      }

      &::-webkit-scrollbar-thumb {
        background: c.$C_BORDER_INPUT; /* 스크롤바 색상 */
        border-radius: 6px; /* 스크롤바 모서리 둥글게 */
      }
    }
  }
}
