$C_PRIMARY: #e9000a;

$C_SECONDARY: #ed4a51;

$C_TERTIARY: #f1beb7;

$C_BROWN: #370305;

$C_WHITE: #ffffff;
$C_BORDER_GRAY: #d2d1d1;
$C_BORDER_INPUT: #a09f9f;
$C_BUTTON_HOVER: #f9f8f8;
$C_CHAT_GRAY: #f3f3f3;
$C_SMALL_TEXT: #8c8181;
$C_DIVIDER: #d2d1d1;

$TAG_PURPLE: #b794ff;
