@use "../../../_styles/constants/color" as c;
@use "../../../_styles/mixins/" as m;
.container {
  // @include m.flex(space-between, center, row);
  width: 100%;
  height: 100%;
  padding: 0 60px;
  .arrow {
    width: 36px !important;
    height: 36px !important;
  }

  .pin {
    @include m.flex(center, center, column);
    width: 80%;
    height: 80%;
    padding: 20px 0;
    background-color: transparent;
    border: none;
    gap: 8px;

    > span {
      font-size: 24px;
      color: c.$C_WHITE;
      // margin-bottom: 8px;
    }
    > img {
      fill: c.$C_SECONDARY;
      z-index: 1000;
    }
    animation: pin 1s ease-in-out infinite;
    cursor: pointer;
    // &:hover {
    //   animation: pinMove 1s ease-in-out infinite;
    //   cursor: pointer;
    // }

    &:focus {
      > img {
        // position: absolute;
        // z-index: 1000;
        // transform: translateX(-50%) translateY(-100%) rotate(45deg);
        // animation: throwDart 1s ease-out forwards;
        // animation: pinMove 3s ease-in;
        // animation: rotate 0.5s ease-in-out infinite;
      }
    }
  }
}
@keyframes pin {
  0% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(-12px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes pinMove {
  0% {
    transform: translateY(-20px) translateX(0%) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) translateX(400px) rotate(180deg);
  }
  100% {
    transform: translateY(20px) translateX(900px) rotate(360deg);
  }
}

@keyframes throwDart {
  0% {
    // left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  50% {
    top: 50%;
    transform: translateY(-50%) translateX(400px) rotate(20deg);
  }
  100% {
    // left: calc(100% - 200px);
    top: 50%;
    transform: translateY(-50%) translateX(800px) rotate(45deg);
  }
}
