$C_PRIMARY: #e9000a;

$C_SECONDARY: #ed4a51;

$C_TERTIARY: #f1beb7;

$C_BRWON: #370305;

$C_WHITE: #ffffff;
$C_BORDER_GRAY: #d2d1d1;
$C_BORDER_INPUT: #a09f9f;

$TAG_PINK: #f1beb7;
$TAG_BLUE: #afc2ff;
$TAG_PURPLE: #b794ff;
