@use "../../_styles/constants/color" as c;
@use "../../_styles/mixins/" as m;
.nav {
  @include m.flex(space-between, center, column);
  width: 72px;
  height: 100%;
  background-color: c.$C_SECONDARY;
  padding: 16px 0;
  .menu {
    @include m.flex(center, center, column);
    width: 100%;
    // padding: 12px;
    row-gap: 16px;
    .logo {
      @include m.flex(center, center, row);
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-align: center;
    }
  }
}

.button {
  @include m.flex(center, center, row);
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  > svg {
    // @include m.flex(center, center, row);
    width: 42px;
    height: 42px;
  }

  &:hover {
    // background-color: c.$C_WHITE;
    // filter: drop-shadow(2px 4px 8px rgb(230, 154, 154));
    transform: translateY(-2px);
    svg {
      // fill: c.$C_SECONDARY;
    }
  }
  &:focus {
    // background-color: c.$C_WHITE;
    filter: drop-shadow(2px 4px 8px rgb(230, 154, 154));
    // box-shadow: 2px 4px 4px white;
    svg {
      // fill: c.$C_SECONDARY;
    }
  }
}
