@use "./_styles/constants/color" as c;
@use "./_styles/mixins/" as m;
.main {
  @include m.flex(space-between, flex-start, row);
  width: 100vw;
  height: 100vh;
  .pinSection {
    @include m.flex(center, center, column);
    width: 32%;
    height: 100%;
    background-color: c.$C_SECONDARY;
    color: c.$C_WHITE;
    padding: 16px 0;
    row-gap: 16px;
    column-gap: 16px;
    transition: 0.5s width ease-in-out;
  }
  .navBar {
    width: 72px;
    height: 100%;
    background-color: c.$C_SECONDARY;
    transition: 0.5s all ease-in-out;
  }
  .home {
    @include m.flex(space-between, flex-start, row);
    width: 68%;
    height:100%;
  }
  .page {
    width: calc(100vw - 72px);
    height: 100%;
    
  }
}
