@use "./_styles/constants/color" as c;
@use "./_styles/mixins/" as m;
.main {
  @include m.flex(space-between, flex-start, row);
  width: 100vw;
  height: 100vh;
  .pinSection {
    @include m.flex(center, center, column);
    padding: 16px 0;
    width: 32%;
    height: 100%;
    background-color: c.$C_SECONDARY;
    color: c.$C_WHITE;
    transition: 0.5s width ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    .sliderSection {
      @include m.flex(center, center, column);
      row-gap: 16px;
      column-gap: 16px;
      width: 100%;
      height: 50%;
      animation: fadein ease-in-out 4s;
      .slider {
        width: 100%;
        height: 80%;
      }
      .description {
        @include m.flex(flex-start, center, column);
        width: 100%;
        height: 50%;
        row-gap: 28px;

        .eng {
          font-size: 32px;
          font-weight: 500;
        }
        .kor {
          font-size: 20px;
        }
      }
    }
  }
  .navBar {
    width: 72px;
    height: 100%;
    background-color: c.$C_SECONDARY;
    // transition: 0.5s all ease-in-out;
    // animation: fadein 2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .home {
    @include m.flex(space-between, flex-start, row);
    width: 68%;
    height: 100%;
  }
  .page {
    width: calc(100vw - 72px);
    height: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
